@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-bg;
}

body {
  transform: scale(0.85);
  transform-origin: top left;
  width: 117.65%; /* Compensate for the scale to fit the whole width */
  overflow-x: hidden; /* Hide horizontal scrollbar if appears */
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
